AKServer/AutoKillerScript.NET/Web References/autokillerwebservice/rsa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.autokiller.com/AutokillerWebService/rsa.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webservices.autokiller.com/AutokillerWebService/rsa.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.autokiller.com/AutokillerWebService/rsa.asmx">
      <s:element name="EncryptFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthInfo" type="tns:AuthInfo" />
      <s:complexType name="AuthInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogUserOut">
        <s:complexType />
      </s:element>
      <s:element name="LogUserOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogUserOutResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EncryptFileSoapIn">
    <wsdl:part name="parameters" element="tns:EncryptFile" />
  </wsdl:message>
  <wsdl:message name="EncryptFileSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptFileResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptFileAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:message name="LogUserOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogUserOut" />
  </wsdl:message>
  <wsdl:message name="LogUserOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogUserOutResponse" />
  </wsdl:message>
  <wsdl:message name="LogUserOutAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:portType name="EncryptSoap">
    <wsdl:operation name="EncryptFile">
      <wsdl:input message="tns:EncryptFileSoapIn" />
      <wsdl:output message="tns:EncryptFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogUserOut">
      <wsdl:input message="tns:LogUserOutSoapIn" />
      <wsdl:output message="tns:LogUserOutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncryptSoap" type="tns:EncryptSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptFile">
      <soap:operation soapAction="http://webservices.autokiller.com/AutokillerWebService/rsa.asmx/EncryptFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EncryptFileAuthInfo" part="AuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogUserOut">
      <soap:operation soapAction="http://webservices.autokiller.com/AutokillerWebService/rsa.asmx/LogUserOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LogUserOutAuthInfo" part="AuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Encrypt">
    <wsdl:port name="EncryptSoap" binding="tns:EncryptSoap">
      <soap:address location="http://webservices.autokiller.com/AutokillerWebService/rsa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>